.page-text-light p {
  color: #313638;
  font-weight: 300;
  line-height: 1.4;
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.footer-clients {
  padding: 20px;
  background-color: #313638;
  color: white;
  padding-bottom: 40px;
}

.text-section {
  padding: 20px 40px;
}

.text-section.title {
  padding-bottom: 0px;
}

@media screen and (max-width: 800px) {
  .text-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.category-section-container {
  margin-bottom: 20px;
}
