.page-text-light p {
  color: #313638;
  font-weight: 300;
  line-height: 1.4;
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.footer-clients {
  padding: 20px;
  background-color: #313638;
  color: white;
}

.text-section {
  padding: 20px;
}
