.profile-card {
  width: 100%;
  position: relative;
}

.profile-card figure {
  width: 100%;
  padding-top: 67%;
  background-size: cover;
  background-position: center center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.profile-card .profile-info {
  transition: all 1s;
}

.col:nth-child(2n + 1) .profile-card .profile-info {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.col:nth-child(2n) .profile-card .profile-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
}

.profile-card .profile-info h3 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 600;
  color: #ff0f00;
  text-transform: uppercase;
}

.profile-card .profile-info p {
  font-size: 14px;
  font-weight: 600;
  color: #ff0f00;
}

@media screen and (max-width: 800px) {
  .col:nth-child(2n + 1) .profile-card .profile-info {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 20px;
    text-align: left;
  }
}
