.row-wrapper {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.row {
  width: 100%;
  clear: both;
  overflow: hidden;
}

.row-liquid {
  width: 100%;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .row-layout {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .row {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1640px) {
  .row {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1640px) {
  .row {
    width: 1600px;
    margin: 0 auto;
  }
  .row-liquid {
    width: 100%;
  }
}
