.row-wrapper {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.row {
  width: 100%;
  clear: both;
  overflow: hidden;
}

.row-liquid {
  width: 100%;
}

.row-liquid {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .row-layout {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 576px) and (max-width: 980px) {
  .row-layout {
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 980px) and (max-width: 1340px) {
  .row-layout {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1340px) {
  .row {
    width: 1280px;
    margin: 0 auto;
  }
  .row-liquid {
    width: 100%;
  }
}
