.page-title {
  float: right;
}

.page-title h2 {
  text-transform: uppercase;
  color: #ff0f00;
  font-size: 32px;
  font-weight: 600;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0em;
}

@media screen and (max-width: 800px) {
  .page-title {
    float: left;
  }
}
