@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&subset=latin-ext");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: 600;
}

p {
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.clear {
  clear: both;
}

.separator-large {
  width: 100%;
  height: 92px;
  clear: both;
}

@media screen and (max-width: 800px) {
  .separator-large {
    width: 100%;
    height: 40px;
    clear: both;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more-button {
  float: right;
  color: #ff0f00;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .show-more-button {
    margin-left: 20px;
    float: left;
  }
}

.navbar-shadow {
  height: 100px;
}

@media screen and (max-width: 900px) {
  .navbar-shadow {
    height: 0px;
  }
}
